body {
    font-family: sans-serif;
    --selected-radius: 50px;
    --answer-radius: 17px;
    --colors-radius: 30px;
}
caption {
    font-weight: bold;
    font-size: 200%;
}
#board {
    border-spacing: 10px;
}
#board, #colors {
    margin: 0 auto;
}
#board td {
    width: var(--selected-radius);
    height: var(--selected-radius);
    border-radius: var(--selected-radius);
    background-color: white;
    border: 2px solid gray;
}
#board tbody td {
    transition: background-color 1s, border-color 1s;
}
#board > thead > tr > td:last-child {
    border: 0;
}
#board > tbody > tr > td:last-child {
    border: 0;
}
#board tbody table td {
    width: var(--answer-radius);
    height: var(--answer-radius);
    min-width: var(--answer-radius);
    max-width: var(--answer-radius);
    min-height: var(--answer-radius);
    max-height: var(--answer-radius);
}
#board thead td, #board tbody table td {
    transition: background-color 2s, border-color 2s;
}
#colors td {
    width: var(--colors-radius);
    height: var(--colors-radius);
    border-radius: var(--colors-radius);
}
#colors {
    margin-top: 1em;
}
div {
    text-align: center;
}
