body {
    font-family: sans-serif;
    --board-size: 50px;
    --colors-size: 40px;
}

caption {
    font-weight: bold;
    font-size: 200%;
}

#board {
    border-spacing: 5px;
}

#board,
#colors,
div {
    margin: 1em auto;
}

#board td {
    width: var(--board-size);
    height: var(--board-size);
    background-color: white;
    border: 1px solid gray;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    transition: background-color 1s, border-color 1s;
}

#board tbody td:nth-last-child(2) {
    background-color: rgb(0, 204, 0, 0.4);
    border: 1px solid var(--board-size);
    border-radius: var(--board-size);
    color: white;
}

#board tbody td:nth-last-child(2):not(:empty) {
    background-color: rgb(0, 179, 60);
}

#board tbody td:last-child {
    background-color: rgb(255, 204, 0, 0.4);
    border: 1px solid var(--board-size);
    border-radius: var(--board-size);
    color: white;
}

#board tbody td:last-child:not(:empty) {
    background-color: rgb(225, 204, 0);
}

#colors td {
    width: var(--colors-size);
    height: var(--colors-size);
    border-radius: var(--colors-size);
}

div {
    text-align: center;
    line-height: 2.5em;
}

button, select {
    font-size: 18px;
}

select {
    width: 50px;
}