body {
    font-family: sans-serif;
    --selected-radius: 50px;
    --colors-radius: 30px;
}

caption {
    font-weight: bold;
    font-size: 200%;
}

#board {
    border-spacing: 5px;
}

#board,
#colors,
div {
    margin: 1em auto;
}

#board td {
    width: var(--selected-radius);
    height: var(--selected-radius);
    background-color: white;
    border: 1px solid gray;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    transition: background-color 1s, border-color 1s;
}

#board tbody td:nth-last-child(2) {
    background-color: rgb(0, 204, 0, 0.4);
    border: 1px solid var(--selected-radius);
    border-radius: var(--selected-radius);
    color: white;
}

#board tbody td:nth-last-child(2):not(:empty) {
    background-color: rgb(0, 179, 60);
}

#board tbody td:last-child {
    background-color: rgb(255, 204, 0, 0.4);
    border: 1px solid var(--selected-radius);
    border-radius: var(--selected-radius);
    color: white;
}

#board tbody td:last-child:not(:empty) {
    background-color: rgb(225, 204, 0);
}

#colors td {
    width: var(--colors-radius);
    height: var(--colors-radius);
    border-radius: var(--colors-radius);
}

div {
    text-align: center;
}